@import url(//db.onlinewebfonts.com/c/c6cbbadaf0df94adcd00b3411be82cd5?family=Univers+LT+Std);

a:hover {
  background-color: grey;
}

li {
  text-align: center;
}

nav {
  margin-top: -5%;
}

.invis{
  display: none;
}

.home-top-img, .hours-top-img {
  width: 100%;
  margin-top: -25%;
  -webkit-clip-path: inset(15% 0 15% 0);
  shape-outside: inset(15% 0 15% 0);
}

.mission-top-img {
  width: 100%;
  -webkit-clip-path: inset(15% 0 15% 0);
  shape-outside: inset(15% 0 15% 0);
}

.hours-bottom-left{

}

.hours-bottom-right{
  float : right;
  margin-top: -15%;
  width: 100%;
}

.hours-left-img{
  margin-top: -18%;
  margin-left: -8%;
  float: left;
  width: 75%;
  shape-outside: polygon(0 70%, 100% 70%, 0 20%);
  -webkit-clip-path: polygon(0 70%, 100% 70%, 0 20%);
}

.hours-right-img{
  margin-right: -15%;
  float : right;
  width: 100%;
  shape-outside: polygon(0 0, 100% 81%, 100% 0);
  float: right;
  -webkit-clip-path: polygon(0 0, 100% 81%, 100% 0);
}

.hours-bottom-right{
}

.left{
  margin-left: -5%;
  width: 95%;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.right {
  margin-right: -5%;
  width: 95%;
  shape-outside: polygon(0 0, 100% 81%, 100% 0);
  float: right;
  -webkit-clip-path: polygon(0 0, 100% 81%, 100% 0);
}

.hours-para-one {
  text-align: center;
  font-size: 12px;
  font-family: "Univers LT STD 49";
}

.hours-para-two {
  text-align: center;
  font-size: 12px;
  font-family: "Univers LT STD 49";
}

.para-one {
  text-align: center;
  font-size: 12px;
  font-family: "Univers LT STD 49";
}

.para-two {
  margin-left: 9%;
  padding-right: 15%;
  text-align: center;
  font-size: 12px;
}

.menu-col-1{
  margin-top: -25%;
  text-align: right;
}
.menu-col-2{
  text-align: left;
}
.menu-col-3{
  margin-top: -55%;
}

.menu-item-1 {
  text-align: right;
  font-size: 8pt;
}
.menu-item-2 {
  text-align: left;
  font-size: 8pt;
}
.menu-item-3 {
  text-align: left;
  font-size: 8pt;
}

.menu-img-1 {
  width: 300%;
  margin-left: -100%;
  margin-top: -90%;
  -webkit-shape-outside: polygon(70% 45%, 30% 45%, 30% 100%);
  shape-outside: polygon(70% 45%, 30% 45%, 30% 100%);
  -webkit-clip-path: polygon(70% 45%, 30% 45%, 30% 100%);
  clip-path: polygon(70% 45%, 30% 45%, 30% 100%);
}

.menu-img-2 {
  width: 225%;
  margin-left: -65%;
  margin-bottom: -10%;
  -webkit-shape-outside: polygon(75% 85%, 30% 10%, 30% 85%);
  shape-outside: polygon(75% 85%, 30% 10%, 30% 85%);
  -webkit-clip-path: polygon(75% 85%, 30% 10%, 30% 85%);
  clip-path: polygon(75% 85%, 30% 10%, 30% 85%);
}

.menu-img-3 {
  width: 200%;
  margin-left: -55%;
  margin-top: -15%;
  -webkit-shape-outside: polygon(70% 10%, 20% 10%, 70% 80%);
  shape-outside: polygon(70% 10%, 20% 10%, 70% 80%);
  -webkit-clip-path: polygon(70% 10%, 20% 10%, 70% 80%);
  clip-path: polygon(70% 10%, 20% 10%, 70% 80%);
}

.menu-item-1 > h6 {
  margin-top: 4%;
  margin-bottom: -.5%;
}

.menu-item-2 > h6 {
  margin-top: 4%;
  margin-bottom: -.5%;
}

.menu-item-3 > h6 {
  margin-top: 4%;
}
.menu-item-3 > h5 {
  margin-top: 8%;
}
