/*.invis {
  display: none !important;
}*/

.card-deck-wrapper{}
.card-deck{}
.card {}
  .quest-card{}
    .quest-img-top{}
    .quest-block{}
    .quest-block > .quest-title{}
    .quest-block > .quest-text{}
    .quest-block > .quest-more{}
    .players{}

    .players > .player-header{}
    .players > .player-card{}
    .player-card > .player-block{}
      .player-block > .player-img{}
      .player-block > .player-title{ font-size: 8pt;}
      .player-block > .player-text{ font-size: 8pt;}


.modal{}
.modal-header{}
.modal-header > button{}
.modal-header > .modal-title{}
.modal-body{}
.modal-body > .char-card{}
  .char-card > .char-block{}
    .char-block > .char-name{}
    .char-block > .char-name-desc{}
    .char-block > .char-img{}
    .char-block > .char-player-name{}
    .char-block > .char-player-name-desc{}
    .char-block > .char-concept{}
    .char-block > .char-concept-desc{}
    .char-block > .char-occupation{}
    .char-block > .char-occu-desc{}
    .char-block > .char-race{}
    .char-block > .char-race-desc{}
    .char-block > .char-img{}
    .char-block > .char-gender{}
    .char-block > .char-gender-desc{}
    .char-block > .char-age{}
    .char-block > .char-age-desc{}
    .char-block > .char-height{}
    .char-block > .char-height-desc{}
    .char-block > .char-weight{}
    .char-block > .char-weight-desc{}

.modal-footer{}
.modal-footer > button{}

/* .modal-transparent */
.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .01;
  filter: alpha(opacity=10);
}
