body {
  background-color: #CCCCCC;
}

.card.first {
  background-color: #CCCC9A;
}
.card.second-inside {
  background-color: #CCCC9A;
}

.card-block{
  background-color: #CCCCCC;
  box-shadow: 10px 9px 5px 0px #7C7C7C;
  border-radius: 5%;
}

#theNav {
  color: red;
  background-color: #666666;
}

.carousel{
  margin-top: 5%;
}

.carousel-inner > .carousel-item > img {
  width:50%;
  margin: 0 auto;
 }

.carousel-inner > .carousel-item > .carousel-caption > a{
  color: purple;
  background-color: black;
 font-weight: bold;
}
.carousel-inner > .carousel-item > .carousel-caption > a:hover{
  color:green;
  text-shadow: 1px 1px white;
}

.card-deck > .card {
  display: none;
  text-align: center;
}

.card-deck > .card > img{
  width: 50%;
}

#player-header{
  margin-left: 5%;
}

.modal-content{
  width: 100%;
}

.level-one {
  border: 1px solid black;
  width: 100%;
}

.level-one > .card > .card-block > img {
  width: 100%;
}

.level-two {
  width: 100%;
  border: 1px solid black;
}

.level-two {
  width: 100%;
  border: 1px solid black;
}

.level-three {
  width: 100%;
  border: 1px solid black;
}
.level-four {
  width: 100%;
  border: 1px solid black;
}
