<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card first">
      <img class="card-img-top" src="../images/leaf.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Leaf Quest</h4>
        <p class="card-text">Date: 01/01/2000.</p>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id facilisis turpis. Mauris tortor orci, accumsan fringilla nulla quis, euismod varius nibh. Ut est odio, accumsan sit amet pretium sit amet, condimentum nec libero. Fusce imperdiet sapien sit amet mi commodo aliquet. Aenean a est est. d !</p>
        <p class="card-text"><small class="text-muted"><a id="card-one-more">More...</a></small></p>
      </div>
          <h4 id="player-header">Players</h4>
          <div class="card first-inside">
            <div class="card-block">
              <img src="../images/myPhoto.jpg"></img>
              <p class="card-title">Player Name: Jacob</p>
              <p class="card-text">Character Name: Bran</p>
              {% include 'modal.html' %}
            </div>
          </div>  
          <div class="card second-inside">
            <div class="card-block">
              <img src="../images/myPhoto.jpg"></img>
              <h4 class="card-title">ZZZZZZZZZZ</h4>
              <p class="card-text">ZZZZZZZZZZ .</p>
            </div>
          </div>
    </div>
    <div class="card second">
      <img class="card-img-top" src="../images/myPhoto.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card third">
      <img class="card-img-top" src="../images/myPhoto.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-one-desc">
