<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div id="first" class="carousel-item active">
      <img src="../images/leaf.jpg" alt="First slide">
      <div class="carousel-caption">
        <h3>Leaf Quest</h3>
        <button type="button" class="btn btn-danger">Legends of the Autumn...</a>
      </div>
    </div>
    <div id="second" class="carousel-item">
      <img src="../images/leaf.jpg" alt="Second slide">
      <div class="carousel-caption">
        <h3>Leaf Quest 2</h3>
        <button type="button" class="btn btn-danger">The Equinoctial Collapse...</a>
      </div>
    </div>
    <div id="third" class="carousel-item">
      <img src="../images/leaf.jpg" alt="Third slide">
      <div class="carousel-caption">
        <h3>Leaf Quest 3</h3>
        <button type="button" class="btn btn-danger">All Fall Down...</a>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
