<div>
<img class="home-top-img top-img top" src="/images/local/grain.jpg"></img>
<img class="mission-top-img top-img invis" src="/images/local/carrots.jpg"></img>
<img class="hours-top-img top-img invis" src="/images/local/garden.jpg"></img>
<nav id="theNav" class="navbar navbar-default navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav row">
      <a class="home active col-xs-2 col-sm-2">
        Home
      </a>
      <a class="menu active col-xs-2 col-sm-2">
        Menu
      </a>
      <a class="active col-xs-2 col-sm-3">
        LoCal
      </a>
      <a class="hours active col-xs-2 col-sm-2">
        Hours
      </a>
      <a class="mission active col-xs-2 col-sm-2">
        Mission
      </a>
    </ul>
  </div>

</nav>
<div class="lower-main col-xs-12 col-sm-12 col-md-12">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <img class="left home-bottom-left bottom-left" src="/images/local/farm-loans.jpg"></img>
    <img class="left invis mission-bottom-left bottom-left" src="/images/local/Corn.jpg"></img>
    <img class="invis hours-bottom-left bottom-left" src="/images/local/tomato.jpg"></img>
    <p class="para-one home-bottom-left bottom-left"> LoCAL is a restaurant that is centered on growing the highest quality produce with only the best care. We support our local farmers and know each by name and every person who has grown anything that we serve for our meals. The local economy is the heart of our community and we will continue to engage in programs that promote more agricultural education.</p>

    <p class="para-one mission-bottom-left bottom-left invis"> Our mission is to provide the community with high quality, healthy, locally grown food. It is our strong belief that supporting our community and local farmers is the best way to enrich our local area.</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Monday- 11:30-6:00</p>
    <!-- <p class="hours-para-one hours-bottom-left bottom-left invis"> Tuesday- 11:30-6:00</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Wednesday- 11:30-6:00</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Thursday- 11:30-6:00</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Friday- 11:30-8:00</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Saturday- 11:30-8:00</p>
    <p class="hours-para-one hours-bottom-left bottom-left invis"> Sunday- 10:30-5:00</p> -->
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <img class="right home-bottom-right bottom-right" src="/images/local/saladplatebw.jpg"></img>
    <img class="right mission-bottom-right bottom-right invis" src="/images/local/pasta.jpg"></img>
    <img class="hours-bottom-right bottom-right invis" src="/images/local/mushrooms.jpg"></img>

    <div class="bar-right">
    </div>

    <p class="para-two home-bottom-right bottom-right"> LoCAL is aware of our responsiblity to the community to provide the healthiest options for our patrons. All of our meals are prepared with fresh produce, grown locally, and are not only the tastiest option, but the healthiest as well.</p>
    <p class="para-two mission-bottom-right bottom-right invis"> LoCal works with many organizations that provide opportunities to support local agriculture and run specials to generate proceeds to donate to local farmers who provide us with our quality meals. Please ask how you can help, if you wish to donate.</p>
  </div>
</div>
