<div>
<img class="top" src="/images/local/grain.jpg"></img>
<nav id="theNav" class="navbar navbar-default navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav row">
      <a href="#" class="active col-xs-2 col-sm-2">
        Home
      </a>
      <a href="modal.html" class="active col-xs-2 col-sm-2">
        Menu
      </a>
      <a href="#" class="active col-xs-2 col-sm-3">
        LoCal
      </a>
      <a href="#" class="active col-xs-2 col-sm-2">
        Hours
      </a>
      <a href="#" class="active col-xs-2 col-sm-2">
        Mission
      </a>
    </ul>
  </div>

</nav>
<div class="lower-main col-xs-12 col-sm-12 col-md-12">
  <div class="bottom-left col-xs-6 col-sm-6 col-md-6">
    <img class="left" src="/images/local/farm-loans.jpg"></img>
    <p id="home-para-one"> LoCAL is a restaurant that is centered on growing the highest quality produce with only the best care. We support our local farmers and know each by name and every person who has grown anything that we serve for our meals. The local economy is the heart of our community and we will continue to engage in programs that promote more agricultural education.</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6">
    <img class="right" src="/images/local/saladplatebw.jpg"></img>

    <div class="bottom-right">
    </div>
    <p id="home-para-two"> LoCAL is aware of our responsiblity to the community to provide the healthiest options for our patrons. All of our meals are prepared with fresh produce, grown locally, and are not only the tastiest option, but the healthiest as well.</p>
  </div>
</div>
