<!-- <nav id="theNav" class="navbar navbar-default navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav row">
      <li class="active col-xs-2 col-sm-2">
        Home
      </li>
      <li class="active col-xs-2 col-sm-2">
        Menu
      </li>
      <li class="active col-xs-2 col-sm-3">
        LoCal
      </li>
      <li class="active col-xs-2 col-sm-2">
        Hours
      </li>
      <li class="active col-xs-2 col-sm-2">
        Mission
      </li>
    </ul>
  </div>

</nav> -->
