<div>
  <img class="home-top-img top-img top" src="/images/local/grain.jpg"></img>
  <img class="mission-top-img top-img invis" src="/images/local/carrots.jpg"></img>
  <img class="hours-top-img top-img invis" src="/images/local/garden.jpg"></img>
  <nav id="theNav" class="navbar navbar-default navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav row">
        <a class="home active col-xs-2 col-sm-2">
          Home
        </a>
        <a class="menu active col-xs-2 col-sm-2" data-toggle="modal" data-target="#menu">
          Menu
        </a>
        <span class="active col-xs-2 col-sm-3">
          LoCal
        </span>
        <a class="hours active col-xs-2 col-sm-2">
          Hours
        </a>
        <a class="mission active col-xs-2 col-sm-2">
          Mission
        </a>
      </ul>
    </div>

  </nav>
  <div class="lower-main col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img class="left home-bottom-left bottom-left" src="/images/local/farm-loans.jpg"></img>
      <img class="left invis mission-bottom-left bottom-left" src="/images/local/Corn.jpg"></img>
      <img class="invis hours-left-img bottom-left" src="/images/local/tomato.jpg"></img>
      <p class="para-one home-bottom-left bottom-left"> LoCAL is a restaurant that is centered on growing the highest quality produce with only the best care. We support our local farmers and know each by name and every person who has grown anything that we serve for our meals. The local economy is the heart of our community and we will continue to engage in programs that promote more agricultural education.</p>

      <p class="para-one mission-bottom-left bottom-left invis"> Our mission is to provide the community with high quality, healthy, locally grown food. It is our strong belief that supporting our community and local farmers is the best way to enrich our local area.</p>

      <p class="para-one hours-bottom-left bottom-left invis"> Monday- 11:30-6:00 <br>Tuesday- 11:30-6:00 <br> Wednesday- 11:30-6:00 <br> Thursday- 11:30-6:00 <br> Friday- 11:30-8:00 <br> Saturday- 11:30-8:00 <br> Sunday- 10:30-5:00</p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <img class="right home-bottom-right bottom-right" src="/images/local/saladplatebw.jpg"></img>
      <img class="right mission-bottom-right bottom-right invis" src="/images/local/pasta.jpg"></img>
      <img class="invis hours-right-img bottom-right" src="/images/local/mushrooms.jpg"></img>

      <div class="bar-right">
      </div>

      <p class="para-two home-bottom-right bottom-right"> LoCAL is aware of our responsiblity to the community to provide the healthiest options for our patrons. All of our meals are prepared with fresh produce, grown locally, and are not only the tastiest option, but the healthiest as well.</p>
      <p class="para-two mission-bottom-right bottom-right invis"> LoCal works with many organizations that provide opportunities to support local agriculture and run specials to generate proceeds to donate to local farmers who provide us with our quality meals. Please ask how you can help, if you wish to donate.</p>
      <p class="para-one hours-bottom-right bottom-right invis"> LoCAL is located at 808 Heartbeat Rd Atlanta, Georgia phone for reservation 123-456-7890</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <button type="button" style="visibility:hidden;">
          <button aria-hidden="false" class="close" aria-label="Close" onClick="window.location.reload()">&times;</button>
        </button>
      <div class="modal-body clearfix">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img class="menu-img-1" src="/images/local/caesar.jpg"></img>
          <div class="menu-col-1">
            <h5 class="menu-col-1">Starters</h5>
            <div class="menu-item-1">
              <h6 class="menu-item-1">Traditional Caesar Salad</h6>
              <span class="menu-item-1">Parmesan Croutons / Olives / Cherry Tomatoes / </span>
              <span class="menu-item-1">Baby Gem Lettuce & Caesar Dressing</span>
            </div>
            <div class="menu-item-1">
              <h6 class="menu-item-1">Antipasto Vegan Board</h6>
              <span class="menu-item-1">Chargrilled Vegetables / Kalamata Olives / Tomatoes / </span>
              <span class="menu-item-1">Humus & Toasted Tomato Focaccia</span>
            </div>
            <div class="menu-item-1">
              <h6 class="menu-item-1">Fresh Irish Buffalo Mozzarella & Organic Tomato Salad</h6>
              <span class="menu-item-1">Black Olive Tapenade / Tomato Granita / </span>
              <span class="menu-item-1">Basil & Pinenut Dressing</span>
            </div>
            <div class="menu-item-1">
              <h6 class="menu-item-1">Soup of the Day</h6>
              <span class="menu-item-1">Herb Croutons & Cream</span>
            </div>
        </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="menu-col-2">
          <h5>Entrées</h5>
            <div class="menu-item-2">
              <h5 class="menu-item-2">Sweet Potato & Parmesean Polenta</h5>
              <span class="menu-item-2">Tempura Baby Courgette / Goat's Cheese / </span>
              <span class="menu-item-2">Celeraic & Hollandaise Sauce</span>
            </div>
            <div class="menu-item-2">
              <h5 class="menu-item-2">Open Beetroot & Mushroom Ravioli</h5>
              <span class="menu-item-2">Filled with Fresh Gnocchi / Green Asparagus & Parmesean Cream</span>
            </div>
            <div class="menu-item-2">
              <h5 class="menu-item-2">Home Nut & Herm Roast</h5>
              <span class="menu-item-2">Tomato Ragout / Roquette Leaves & Asparagus </span>
            </div>
            <div class="menu-item-2">
              <h5 class="menu-item-2">Lemon & Basil Tofu</h5>
              <span class="menu-item-2">Chargrilled Tofu / Fresh Basil & Lemon Zest </span>
            </div>
            <img class="menu-img-2" src="/images/local/Ravioli.jpg"></img>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <img class="menu-img-3" src="/images/local/Tea.jpg"></img>
          <div class="menu-col-3">
            <h5>Drinks</h5>
            <div class="menu-item-3">
              <h6 class="menu-item-3">Sweet Tea</h6>
              <span class="menu-item-3">Strawberry & Raspberry </span>
            </div>
            <div class="menu-item-3">
              <h6 class="menu-item-3">Infused Water</h6>
              <span class="menu-item-3">Cucumber / Lemon </span>
            </div>
            <div class="menu-item-3">
              <h6 class="menu-item-3">Soda</h6>
              <span class="menu-item-3">Ask your server for a list of local colas and tonics.</span>
            </div>
            <h5>Dessert</h5>
            <div class="menu-item-3">
              <h6 class="menu-item-3">Strawberry Sorbet and Warm Balsamic Marinade</h6>
              <span class="menu-item-3">Local Strawberry Sorbet / Marinaded with Balsamic Vinegar / Glazed with Mint Syrup</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
