<div class="modal modal-transparent fade" id="playerData">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
        <div class="modal-body container-fluid">

          <div class="char-card card">
            <div class="char-block card-block ">
              <img class="char-img" src="../images/myPhoto.jpg"></img>
              <p class="char-player-name">Player name: <span class="char-player-name-desc">Jacob</span></p>
              <p class="char-concept">Concept: <span class="char-concept-desc">A serious old dwarf exiled form his homeland in search of redemption through baking.</span></p>
            </div>
          </div>

          <div class="char-card card">
            <div class="char-block card-block">
              <div class="col-xs-4">
                <p class="char-name">Character name: <span id="char-name-desc" data-toggle="tooltip" data-placement="right" title="Pronounced: brAWn!">Bran</span></p>
                <p class="char-occupation">Occupation: <span id="char-occu-desc" data-toggle="tooltip" data-placement="right" title="Rolling in the dough.">Baker</span></p>
                <p class="char-race">Race: <span id="char-race-desc" data-toggle="tooltip" data-placement="right" title="Small, but fierce.">Dwarf</span></p>
              </div>
              <img class="col-xs-3 char-img" src="../images/rp/myPhoto.jpg"></img>
              <div class="col-xs-5">
                <p class="char-gender">Gender: <span id="char-gender-desc" data-toggle="tooltip" data-placement="right" title="&#9794;">Male</span></p>
                <p class="char-age">Age: <span id="char-age-desc" data-toggle="tooltip" data-placement="right" title="Spry for his age.">???</span></p>
                <p class="char-height">Height: <span id="char-height-desc">Short</span></p>
                <p class="char-weight">Weight: <span id="char-weight-desc">Heavy</span></p>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div>
  <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#playerData">
    Launch
  </button>
</div>
